header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding:15px;
    background-color: var(--secondary-color);
}
header .container .logo{
    color: var(--primary-color);
    letter-spacing: 3px;
}
header .container .text{
    font-size: 16px;
    width: 26%;
}
header .container .text p{
    display: inline-block;
    color: white;
}
header .container .text a{
    font-size: 18px;
    color: var(--primary-color);
    transition:0.3s;
}
header .container a:hover{
    color: white;
}
header .container span a{
    color: var(--primary-color);
    font-size: 20px;
}
/*header done*/
.content{
    width: 100%;
    height: calc(100dvh - 60px);
}
.content .container{
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}
.content .container img{
    width: 45%;
}
.content .container .right-content{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .container .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
    text-align: center;
}
.content .container .form-container form{
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
}
.content .container .form-container form h2{
    font-size: 35px;
    color: var(--primary-color);
    letter-spacing: 3px;
}
.content .container .form-container form input{
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}
.content .container .form-container form input#submit{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.content .container .form-container form input#submit:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.content .container .form-container form p{
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}
.content .container .form-container form p:hover{
    color: var(--secondary-color);
}
.content .container .form-container > p{
    color: var(--text-color);
    font-size: 16px;
    width: 85%;
}
.content .container .form-container > p a{
    color: var(--primary-color);
}
.content .container .form-container > p a:hover{
    text-decoration: underline;
}
.content .container .form-container .icons{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    color: var(--secondary-color);
    font-size: 17px;
}
.content .container .form-container .icons div p{
    font-size: 15px;
    color: var(--text-color);
}
.content .container .form-container .icons div i{
    cursor: pointer;
    font-size: 23px;
    transition: 0.3s;
    padding: 8px;
}
.content .container .form-container .icons div i:hover{
    color: var(--primary-color);
    transform: scale(1.2);
}