header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:15px;
    background-color: var(--secondary-color);
}
header .container .logo{
    color: var(--primary-color);
    letter-spacing: 3px;
}
header .container a{
    color: var(--primary-color);
    font-size: 20px;
    transition: 0.3s;
}
header .container a:hover{
    color: white;
}
.content{
    width: 100%;
    height: calc( 100dvh - 58px);
}
.content .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.content .container form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: auto 0;
    justify-content: space-evenly;
}
.content .container form h2{
    font-size: 35px;
    color: var(--primary-color);
    letter-spacing: 3px;
}
.content .container form input[type="text"],.content .container form input[type="email"]{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    width: 60%;
}
.content .container form .select-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    color: var(--text-color);
    font-size: 16px;
    width: 60%;
}
.content .container form .select-container select{
    padding: 9px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    width: 50%;
    text-align: center;
}
.content .container form input[type="submit"]{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    padding: 9px;
    border-radius: 8px;
    width: 60%;
}
.content .container form input[type="submit"]:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}